@mixin location() {
  .location {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $locationMarkerInside;
    position: relative;
    top: 17px;
    left: 38px;
    border: 9px solid $locationMarkerOutside;
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -7px;
      border: 10px solid transparent;
      border-top: 17px solid $locationMarkerOutside;
    }
  }
}

@mixin map() {
  .map {
    height: 100%;
    width: 100%;
    background-color: #f7f5e6;
    position: relative;
    top: -13px;
    left: 15px;
    z-index: 2;
    clip-path: polygon(
      4px 34px,
      4px 66px,
      19px 57px,
      35px 65px,
      50px 57px,
      67px 67px,
      66px 34px,
      51px 26px,
      36px 32px,
      18px 25px
    );

    &:before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: #5fcac8;
      position: absolute;
      clip-path: polygon(
        7px 38px,
        7px 60px,
        19px 53px,
        35px 60px,
        51px 53px,
        63px 60px,
        63px 38px,
        51px 31px,
        35px 37px,
        19px 31px
      );
    }
  }
}
