@mixin builder() {
  .person {
    height: 36px;
    width: 36px;
    background-color: $builderPerson;
    border-radius: 50%;
    position: relative;
    top: 34px;
    left: 32px;
    box-shadow: -18px 0 0 -14px $builderPerson, 18px 0 0 -14px $builderPerson;

    &::before {
      content: "";
      height: 20px;
      width: 20px;
      position: absolute;
      top: 36px;
      left: 16px;
      background-color: $builderPerson;
      border-top-right-radius: 100%;
    }

    &::after {
      content: "";
      height: 20px;
      width: 20px;
      position: absolute;
      z-index: 3;
      top: 36px;
      left: 0px;
      background-color: $builderPerson;
      border-top-left-radius: 100%;
    }

    .helmet {
      width: 1px;
      height: 22px;
      position: relative;
      top: -12px;
      left: 17px;
      background-color: $builderHelmet;
      &::after {
        content: "";
        height: 22px;
        width: 22px;
        position: absolute;
        top: 0;
        left: -22px;
        background-color: $builderHelmet;
        border-top-left-radius: 100%;
      }
      &::before {
        content: "";
        height: 22px;
        width: 22px;
        position: absolute;
        top: 0px;
        right: -22px;
        background-color: $builderHelmet;
        border-top-right-radius: 100%;
      }
    }

    .eyes {
      width: 4px;
      height: 4px;
      background-color: $bookPersonEyes;
      border-radius: 50%;
      position: relative;
      top: -10px;
      left: 10px;
      box-shadow: 12px 0 0 0 $bookPersonEyes;
    }

    .mouth {
      width: 9px;
      height: 4px;
      border-bottom: 4px solid $bookPersonEyes;
      border-radius: 100%;
      position: relative;
      top: -7px;
      left: 14px;
    }
  }
}
