@mixin shirt() {
  .shirt {
    width: 40px;
    position: relative;
    border-bottom: 42px solid $shirt;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 20px;
    left: 10px;
    &::after {
      content: "";
      height: 15px;
      width: 30px;
      background-color: $shirt;
      position: absolute;
      top: -7px;
      left: -18px;
      transform: rotate(141deg);
    }
    &::before {
      content: "";
      height: 15px;
      width: 30px;
      background-color: $shirt;
      position: absolute;
      top: -6px;
      right: -19px;
      transform: rotate(223deg);
    }
  }

  .neck-shirt {
    width: 34px;
    height: 20px;
    background-color: $shirt;
    position: relative;
    bottom: 37px;
    left: 21px;
    &::after {
      content: "";
      height: 10px;
      width: 10px;
      background-color: $backgroundAppClothes;
      border-bottom-left-radius: 100%;
      position: absolute;
      left: 8px;
    }
    &::before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: $backgroundAppClothes;
      border-bottom-right-radius: 100%;
      position: absolute;
      right: 8px;
    }
  }

  .shirt-button {
    height: 8px;
    width: 8px;
    background-color: $shirtButton;
    position: relative;
    border-radius: 50%;
    top: -40px;
    left: 34px;
    box-shadow: 0 10px 0 0 $shirtButton;
  }
}

@mixin pencil() {
  .pencil {
    width: 15px;
    border-bottom: 16px solid $pencilColar;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    transform: rotate(220deg);
    left: 42px;
    &::after {
      content: "";
      width: 15px;
      height: 8px;
      background-color: $pencilGraphite;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
      position: absolute;
      top: -8px;
    }
    &::before {
      content: "";
      width: 31px;
      height: 50px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: $pencilBody;
      position: absolute;
      right: -8px;
      top: 16px;
    }
  }
}
