$backgroundAppImages: #c08ff3;
$backgroundAppAchievements: #8c9af2;
$backgroundAppAnimals: #f7ca68;
$backgroundAppRecipes: #e59165;
$backgroundAppBuilder: #998158;
$backgroundAppClothes: #fe95a1;
$backgroundAppMap: #82d6bc;
$backgroundAppId: #86c889;
$backgroundAppHelper: #fa746b;

$animalsMainColor: #483a35;
$octopusEyes: #bfaf80;
$fishFin: #4aa09d;

$recipeBook: #e48b74;
$nut: #573c30;
$nutHead: #f2c535;
$hammer: #ffca28;
$hammerHead: #483e33;

$builderHelmet: #fdf2d8;
$builderHelmetShadow: #d9d1bf;
$builderPerson: #fde133;

$shirt: #f9f3e3;
$shirtButton: #493e33;
$pencilBody: #49382e;
$pencilColar: #ffd146;
$pencilGraphite: #493a2e;

$locationMarkerInside: #fdf2e1;
$locationMarkerOutside: #4d3733;

$book: #563f33;
$bookPages: #f6f9e6;
$backgroundImageFrontPage: #f6eca0;
$bookHighlightsFrontPage: #6f9b70;
$bookPersonImage: #f2af3e;
$bookPersonEyes: #845205;

$propellerBase: #ffcd00;
$propeller: #fdab13;
$propellerHelmet: #f6d502;
$helicopterBody: #493d2a;
$helicopterWindow: #fdebe7;
