$backgroundAppImages: #c08ff3;
$backgroundAppAchievements: #8c9af2;
$backgroundAppAnimals: #f7ca68;
$backgroundAppRecipes: #e59165;
$backgroundAppBuilder: #998158;
$backgroundAppClothes: #fe95a1;
$backgroundAppMap: #82d6bc;
$backgroundAppId: #86c889;
$backgroundAppHelper: #fa746b;

$animalsMainColor: #483a35;
$octopusEyes: #bfaf80;
