body,
h1 {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #69614e;
}

.menu {
  height: 100vh;
  padding-left: 2rem;
  background-color: #f7f4e5;
}

.menu .app-list {
  height: 450px;
}

.menu .app-list .app-images {
  height: 100px;
  width: 100px;
  background-color: #c08ff3;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
}

.menu .app-list .app-images .camera-button {
  height: 6px;
  width: 8px;
  background-color: #e86aba;
  position: relative;
  top: 29px;
  left: 21px;
}

.menu .app-list .app-images .camera-watch {
  width: 30px;
  height: 12px;
  background-color: #4c3b32;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 17px;
  left: 35px;
}

.menu .app-list .app-images .camera-visor {
  width: 10px;
  height: 5px;
  background-color: white;
  position: relative;
  top: 12px;
  left: 45px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.menu .app-list .app-images .camera-body {
  width: 70px;
  height: 38px;
  background-color: #4c3b32;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 8px;
}

.menu .app-list .app-images .camera-len {
  width: 18px;
  height: 18px;
  background-color: #9462d7;
  border-radius: 50%;
  position: relative;
  top: -19px;
  left: 38px;
  border: 3px solid white;
  -webkit-box-shadow: 1px solid white;
          box-shadow: 1px solid white;
}

.menu .app-list .app-tickets {
  height: 100px;
  width: 100px;
  background-color: #8c9af2;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-left: 120px;
}

.menu .app-list .app-tickets .animal-running {
  height: 30px;
  width: 60px;
  background-color: #4c3e2f;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  top: 30px;
  left: 15px;
}

.menu .app-list .app-tickets .animal-running::before {
  position: absolute;
  content: "";
  background-color: #ddc872;
  height: 15px;
  width: 15px;
  border-radius: 18px;
  top: 2px;
  left: 43px;
  -webkit-box-shadow: -10px -12px 0 0 #4c3e2f, -10px 20px 0 0 #4c3e2f, -30px 20px 0 0 #4c3e2f, 5px 10px 0 0 #4c3e2f;
          box-shadow: -10px -12px 0 0 #4c3e2f, -10px 20px 0 0 #4c3e2f, -30px 20px 0 0 #4c3e2f, 5px 10px 0 0 #4c3e2f;
}

.menu .app-list .app-tickets .animal-running::after {
  position: absolute;
  content: "";
  -webkit-box-shadow: 10px 10px;
          box-shadow: 10px 10px;
}

.menu .app-list .app-tickets .world {
  width: 65px;
  height: 31px;
  background-color: #b6bef1;
  position: relative;
  top: 39px;
  left: 20px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu .app-list .app-animals {
  height: 100px;
  width: 100px;
  background-color: #f7ca68;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-left: 240px;
}

.menu .app-list .app-animals .butterfly {
  height: 20px;
  width: 20px;
  background-color: #f5f3e7;
  position: relative;
  border-radius: 50%;
  top: 18px;
  left: 15px;
  -webkit-box-shadow: 15px 0 0 0 #f5f3e7, 3px 10px 0 0 #f5f3e7, 12px 10px 0 0 #f5f3e7;
          box-shadow: 15px 0 0 0 #f5f3e7, 3px 10px 0 0 #f5f3e7, 12px 10px 0 0 #f5f3e7;
}

.menu .app-list .app-animals .butterfly::after {
  content: "";
  background-color: #483a35;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 5px;
  -webkit-box-shadow: 20px 0 0 0 #483a35;
          box-shadow: 20px 0 0 0 #483a35;
}

.menu .app-list .app-animals .butterfly::before {
  content: "";
  background-color: #483a35;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 8px;
  -webkit-box-shadow: 16px 0 0 0 #483a35;
          box-shadow: 16px 0 0 0 #483a35;
}

.menu .app-list .app-animals .octopus {
  height: 30px;
  width: 32px;
  background-color: #483a35;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  top: 11px;
  left: 55px;
}

.menu .app-list .app-animals .octopus::after {
  content: "";
  background-color: #f7ca68;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 8px;
  -webkit-box-shadow: 10px 0 0 0 #f7ca68;
          box-shadow: 10px 0 0 0 #f7ca68;
}

.menu .app-list .app-animals .octopus-legs {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #483a35;
  position: relative;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 2px;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  top: 8px;
  left: 52px;
}

.menu .app-list .app-animals .octopus-legs::after {
  content: "";
  background-color: #f7ca68;
  height: 10px;
  width: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 7px;
}

.menu .app-list .app-animals .octopus-legs-2 {
  display: inline-block;
  height: 15px;
  width: 10px;
  background-color: #483a35;
  position: relative;
  top: 8px;
  left: 42px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.menu .app-list .app-animals .octopus-legs-2::after {
  content: "";
  background-color: #f7ca68;
  height: 7px;
  width: 7px;
  border-top-left-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
}

.menu .app-list .app-animals .octopus-legs-3 {
  display: inline-block;
  height: 15px;
  width: 9px;
  background-color: #483a35;
  border-bottom-right-radius: 50%;
  position: relative;
  top: 8px;
  left: 37px;
}

.menu .app-list .app-animals .octopus-legs-3::after {
  content: "";
  background-color: #f7ca68;
  height: 8px;
  width: 3px;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -1px;
}

.menu .app-list .app-animals .octopus-legs-4 {
  display: inline-block;
  height: 13px;
  width: 9px;
  background-color: #483a35;
  position: relative;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 6px;
  top: 8px;
  left: 31px;
}

.menu .app-list .app-animals .octopus-legs-4::after {
  content: "";
  background-color: #f7ca68;
  height: 9px;
  width: 5px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}

.menu .app-list .app-animals .fish {
  height: 20px;
  width: 36px;
  background-color: #483a35;
  position: relative;
  left: 15px;
  border-radius: 50%;
}

.menu .app-list .app-animals .fish::after {
  content: "";
  background-color: #483a35;
  height: 8px;
  width: 7px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 2px;
  right: -5px;
}

.menu .app-list .app-animals .fish::before {
  content: "";
  background-color: #483a35;
  height: 8px;
  width: 7px;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 4px;
  top: 9px;
  right: -5px;
}

.menu .app-list .app-animals .fish .fish-eyes {
  height: 4px;
  width: 4px;
  background-color: #f7ca68;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
}

.menu .app-list .app-animals .fish .fish-fin {
  width: 7px;
  height: 6px;
  background-color: #4aa09d;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  top: 6px;
  left: 11px;
}

.menu .app-list .app-recipes {
  height: 100px;
  width: 100px;
  background-color: #e59165;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
}

.menu .app-list .app-recipes .recipe-book {
  height: 45px;
  width: 35px;
  background-color: #e48b74;
  border: 4px solid white;
  border-radius: 2px;
  position: relative;
  top: 16px;
  left: 15px;
}

.menu .app-list .app-recipes .recipe-book .nut {
  width: 22px;
  height: 20px;
  background-color: #573c30;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: relative;
  top: 18px;
  left: 6px;
}

.menu .app-list .app-recipes .recipe-book .nut::after {
  content: "";
  height: 10px;
  width: 22px;
  background-color: #f2c535;
  position: absolute;
  top: -10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 2px;
}

.menu .app-list .app-recipes .recipe-book .nut::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f2c535;
  position: absolute;
  left: 8px;
  top: -12px;
}

.menu .app-list .app-recipes .hammer {
  width: 10px;
  height: 25px;
  background-color: #ffca28;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  top: 1px;
  left: 58px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.menu .app-list .app-recipes .hammer .hammer-head {
  width: 15px;
  height: 15px;
  background-color: #483e33;
  position: relative;
  top: -15px;
  left: -2px;
}

.menu .app-list .app-recipes .hammer .hammer-head .hammer-head-front {
  width: 15px;
  height: 20px;
  position: relative;
  border-top-right-radius: 50%;
  border-bottom: 5px solid #483e33;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  -webkit-transform: rotate(91deg);
          transform: rotate(91deg);
  top: -5px;
  left: -1px;
}

.menu .app-list .app-recipes .hammer .hammer-head .hammer-head-front::after {
  content: "";
  width: 20px;
  height: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 4px;
  background-color: #483e33;
  position: absolute;
  top: 23px;
  left: -3px;
  bottom: -11px;
}

.menu .app-list .app-recipes .hammer .hammer-head .hammer-head-back {
  width: 12px;
  height: 15px;
  background-color: #483e33;
  position: relative;
  top: -25px;
  left: 14px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 50%;
}

.menu .app-list .app-recipes .hammer .hammer-head .hammer-head-back::before {
  content: "";
  height: 6px;
  width: 9px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: #e59165;
  position: absolute;
  left: 2px;
  bottom: -1px;
}

.menu .app-list .app-builder {
  height: 100px;
  width: 100px;
  background-color: #998158;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 120px;
}

.menu .app-list .app-builder .person {
  height: 36px;
  width: 36px;
  background-color: #fde133;
  border-radius: 50%;
  position: relative;
  top: 34px;
  left: 32px;
  -webkit-box-shadow: -18px 0 0 -14px #fde133, 18px 0 0 -14px #fde133;
          box-shadow: -18px 0 0 -14px #fde133, 18px 0 0 -14px #fde133;
}

.menu .app-list .app-builder .person::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 36px;
  left: 16px;
  background-color: #fde133;
  border-top-right-radius: 100%;
}

.menu .app-list .app-builder .person::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 3;
  top: 36px;
  left: 0px;
  background-color: #fde133;
  border-top-left-radius: 100%;
}

.menu .app-list .app-builder .person .helmet {
  width: 1px;
  height: 22px;
  position: relative;
  top: -12px;
  left: 17px;
  background-color: #fdf2d8;
}

.menu .app-list .app-builder .person .helmet::after {
  content: "";
  height: 22px;
  width: 22px;
  position: absolute;
  top: 0;
  left: -22px;
  background-color: #fdf2d8;
  border-top-left-radius: 100%;
}

.menu .app-list .app-builder .person .helmet::before {
  content: "";
  height: 22px;
  width: 22px;
  position: absolute;
  top: 0px;
  right: -22px;
  background-color: #fdf2d8;
  border-top-right-radius: 100%;
}

.menu .app-list .app-builder .person .eyes {
  width: 4px;
  height: 4px;
  background-color: #845205;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: 10px;
  -webkit-box-shadow: 12px 0 0 0 #845205;
          box-shadow: 12px 0 0 0 #845205;
}

.menu .app-list .app-builder .person .mouth {
  width: 9px;
  height: 4px;
  border-bottom: 4px solid #845205;
  border-radius: 100%;
  position: relative;
  top: -7px;
  left: 14px;
}

.menu .app-list .app-clothes {
  height: 100px;
  width: 100px;
  background-color: #fe95a1;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 240px;
}

.menu .app-list .app-clothes .shirt {
  width: 40px;
  position: relative;
  border-bottom: 42px solid #f9f3e3;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 20px;
  left: 10px;
}

.menu .app-list .app-clothes .shirt::after {
  content: "";
  height: 15px;
  width: 30px;
  background-color: #f9f3e3;
  position: absolute;
  top: -7px;
  left: -18px;
  -webkit-transform: rotate(141deg);
          transform: rotate(141deg);
}

.menu .app-list .app-clothes .shirt::before {
  content: "";
  height: 15px;
  width: 30px;
  background-color: #f9f3e3;
  position: absolute;
  top: -6px;
  right: -19px;
  -webkit-transform: rotate(223deg);
          transform: rotate(223deg);
}

.menu .app-list .app-clothes .neck-shirt {
  width: 34px;
  height: 20px;
  background-color: #f9f3e3;
  position: relative;
  bottom: 37px;
  left: 21px;
}

.menu .app-list .app-clothes .neck-shirt::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #fe95a1;
  border-bottom-left-radius: 100%;
  position: absolute;
  left: 8px;
}

.menu .app-list .app-clothes .neck-shirt::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #fe95a1;
  border-bottom-right-radius: 100%;
  position: absolute;
  right: 8px;
}

.menu .app-list .app-clothes .shirt-button {
  height: 8px;
  width: 8px;
  background-color: #493e33;
  position: relative;
  border-radius: 50%;
  top: -40px;
  left: 34px;
  -webkit-box-shadow: 0 10px 0 0 #493e33;
          box-shadow: 0 10px 0 0 #493e33;
}

.menu .app-list .app-clothes .pencil {
  width: 15px;
  border-bottom: 16px solid #ffd146;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: relative;
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  left: 42px;
}

.menu .app-list .app-clothes .pencil::after {
  content: "";
  width: 15px;
  height: 8px;
  background-color: #493a2e;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
  top: -8px;
}

.menu .app-list .app-clothes .pencil::before {
  content: "";
  width: 31px;
  height: 50px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #49382e;
  position: absolute;
  right: -8px;
  top: 16px;
}

.menu .app-list .app-map {
  height: 100px;
  width: 100px;
  background-color: #82d6bc;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
}

.menu .app-list .app-map .location {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #fdf2e1;
  position: relative;
  top: 17px;
  left: 38px;
  border: 9px solid #4d3733;
  z-index: 3;
}

.menu .app-list .app-map .location::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -7px;
  border: 10px solid transparent;
  border-top: 17px solid #4d3733;
}

.menu .app-list .app-map .map {
  height: 100%;
  width: 100%;
  background-color: #f7f5e6;
  position: relative;
  top: -13px;
  left: 15px;
  z-index: 2;
  -webkit-clip-path: polygon(4px 34px, 4px 66px, 19px 57px, 35px 65px, 50px 57px, 67px 67px, 66px 34px, 51px 26px, 36px 32px, 18px 25px);
          clip-path: polygon(4px 34px, 4px 66px, 19px 57px, 35px 65px, 50px 57px, 67px 67px, 66px 34px, 51px 26px, 36px 32px, 18px 25px);
}

.menu .app-list .app-map .map:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #5fcac8;
  position: absolute;
  -webkit-clip-path: polygon(7px 38px, 7px 60px, 19px 53px, 35px 60px, 51px 53px, 63px 60px, 63px 38px, 51px 31px, 35px 37px, 19px 31px);
          clip-path: polygon(7px 38px, 7px 60px, 19px 53px, 35px 60px, 51px 53px, 63px 60px, 63px 38px, 51px 31px, 35px 37px, 19px 31px);
}

.menu .app-list .app-id {
  height: 100px;
  width: 100px;
  background-color: #86c889;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
  margin-left: 120px;
}

.menu .app-list .app-id .book {
  height: 70px;
  width: 43px;
  background-color: #563f33;
  position: relative;
  top: 15px;
  left: 27px;
  border-top-left-radius: 4px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 12px;
  border-right: 2px solid #f6f9e6;
  border-bottom: 5px solid #f6f9e6;
}

.menu .app-list .app-id .book .front-page {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  background-color: #f6eca0;
  top: 10px;
  left: 7px;
  border: 4px solid #6f9b70;
}

.menu .app-list .app-id .book .front-page::before {
  content: "";
  height: 5px;
  width: 20px;
  background-color: #6f9b70;
  position: absolute;
  bottom: -15px;
  border-radius: 8px;
  -webkit-box-shadow: -4px 10px 0 0 #6f9b70, 4px 10px 0 0 #6f9b70;
          box-shadow: -4px 10px 0 0 #6f9b70, 4px 10px 0 0 #6f9b70;
}

.menu .app-list .app-id .book .front-page .person {
  height: 14px;
  width: 14px;
  background-color: #f2af3e;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 4px;
  -webkit-box-shadow: -6px 0 0 -4px #f2af3e, 6px 0 0 -4px #f2af3e;
          box-shadow: -6px 0 0 -4px #f2af3e, 6px 0 0 -4px #f2af3e;
  z-index: 2;
}

.menu .app-list .app-id .book .front-page .person::before {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 7px;
  background-color: #f2af3e;
  border-top-right-radius: 100%;
}

.menu .app-list .app-id .book .front-page .person::after {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 2px;
  background-color: #f2af3e;
  border-top-left-radius: 100%;
}

.menu .app-list .app-id .book .front-page .person .eyes {
  width: 2px;
  height: 2px;
  background-color: #845205;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 4px;
  -webkit-box-shadow: 5px 0 0 0 #845205;
          box-shadow: 5px 0 0 0 #845205;
}

.menu .app-list .app-id .book .front-page .person .mouth {
  width: 5px;
  height: 2px;
  border-bottom: 2px solid #845205;
  border-radius: 100%;
  position: relative;
  z-index: 4;
  top: 5px;
  left: 5px;
}

.menu .app-list .app-helper {
  height: 100px;
  width: 100px;
  background-color: #fa746b;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
  margin-left: 240px;
}

.menu .app-list .app-helper .helicopter {
  position: relative;
  top: 25px;
  left: 15px;
}

.menu .app-list .app-helper .helicopter .propellers {
  height: 7px;
  width: 7px;
  background-color: #ffcd00;
  border-radius: 50%;
  position: relative;
  left: 25px;
}

.menu .app-list .app-helper .helicopter .propellers::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: #fdab13;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  left: -30px;
}

.menu .app-list .app-helper .helicopter .propellers::before {
  content: "";
  height: 5px;
  width: 30px;
  background-color: #fdab13;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  position: absolute;
  left: 7px;
}

.menu .app-list .app-helper .helicopter .propeller-base {
  height: 12px;
  width: 1px;
  background-color: #f6d502;
  position: relative;
  left: 28px;
}

.menu .app-list .app-helper .helicopter .propeller-base::after {
  content: "";
  height: 12px;
  width: 22px;
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #f6d502;
  border-top-left-radius: 100%;
}

.menu .app-list .app-helper .helicopter .propeller-base::before {
  content: "";
  height: 12px;
  width: 22px;
  position: absolute;
  top: 0px;
  right: -20px;
  background-color: #f6d502;
  border-top-right-radius: 100%;
}

.menu .app-list .app-helper .helicopter .cockpit {
  height: 26px;
  width: 38px;
  background-color: #493d2a;
  position: relative;
  left: 8px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 15px;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
}

.menu .app-list .app-helper .helicopter .cockpit::after {
  content: "";
  height: 8px;
  width: 6px;
  position: absolute;
  background-color: #fdebe7;
  top: 4px;
  left: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.menu .app-list .app-helper .helicopter .cockpit::before {
  content: "";
  height: 6px;
  width: 5px;
  position: absolute;
  background-color: #fdebe7;
  top: 4px;
  left: 13px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.menu .app-list .app-helper .helicopter .cabin {
  height: 16px;
  width: 15px;
  background-color: #493d2a;
  position: relative;
  left: -6px;
  top: -16px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
}

.menu .app-list .app-helper .helicopter .cabin::after {
  content: "";
  width: 11px;
  height: 7px;
  position: absolute;
  border-bottom-left-radius: 100%;
  border-bottom: 11px solid #493d2a;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: -13px;
  left: 7px;
}

.menu .app-list .app-helper .helicopter .tail {
  width: 35px;
  border-top: 8px solid #493d2a;
  position: relative;
  left: 39px;
  top: -41px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.menu .app-list .app-helper .helicopter .tail::after {
  content: "";
  width: 7px;
  height: 9px;
  background-color: #493d2a;
  border-top-left-radius: 1px;
  position: absolute;
  top: -13px;
  right: -3px;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
}

.menu .app-list .app-helper .helicopter .tail::before {
  content: "";
  width: 7px;
  height: 9px;
  background-color: #493d2a;
  position: absolute;
  top: -5px;
  right: -3px;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

.menu .app-list .app-helper .helicopter .landing-gear {
  width: 60px;
  height: 5px;
  background-color: #493d2a;
  border-radius: 4px;
  position: relative;
  top: -17px;
}

.menu .app-list .app-helper .helicopter .landing-gear::after {
  content: "";
  width: 5px;
  height: 12px;
  background-color: #493d2a;
  position: absolute;
  top: -10px;
  left: 20px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.menu .app-list .app-helper .helicopter .landing-gear::before {
  content: "";
  width: 5px;
  height: 12px;
  background-color: #493d2a;
  position: absolute;
  top: -10px;
  left: 34px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}
/*# sourceMappingURL=style.css.map */