body,
h1 {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #69614e;
}

.menu {
  height: 500px;
  background-color: #f7f4e5;
}

.menu .app-list .app-images {
  height: 100px;
  width: 100px;
  background-color: #c08ff3;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
}

.menu .app-list .app-images .camera-button {
  height: 6px;
  width: 8px;
  background-color: #e86aba;
  position: relative;
  top: 29px;
  left: 21px;
}

.menu .app-list .app-images .camera-watch {
  width: 30px;
  height: 12px;
  background-color: #4c3b32;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 17px;
  left: 35px;
}

.menu .app-list .app-images .camera-visor {
  width: 10px;
  height: 5px;
  background-color: white;
  position: relative;
  top: 12px;
  left: 45px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.menu .app-list .app-images .camera-body {
  width: 70px;
  height: 38px;
  background-color: #4c3b32;
  position: relative;
  top: 12px;
  left: 15px;
  border-radius: 8px;
}

.menu .app-list .app-images .camera-len {
  width: 18px;
  height: 18px;
  background-color: #9462d7;
  border-radius: 50%;
  position: relative;
  top: -19px;
  left: 38px;
  border: 3px solid white;
  -webkit-box-shadow: 1px solid white;
          box-shadow: 1px solid white;
}

.menu .app-list .app-tickets {
  height: 100px;
  width: 100px;
  background-color: #8c9af2;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-left: 120px;
}

.menu .app-list .app-tickets .animal-running {
  height: 30px;
  width: 60px;
  background-color: #4c3e2f;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  top: 30px;
  left: 15px;
}

.menu .app-list .app-tickets .animal-running::before {
  position: absolute;
  content: "";
  background-color: #ddc872;
  height: 15px;
  width: 15px;
  border-radius: 18px;
  top: 2px;
  left: 43px;
  -webkit-box-shadow: -10px -12px 0 0 #4c3e2f, -10px 20px 0 0 #4c3e2f, -30px 20px 0 0 #4c3e2f, 5px 10px 0 0 #4c3e2f;
          box-shadow: -10px -12px 0 0 #4c3e2f, -10px 20px 0 0 #4c3e2f, -30px 20px 0 0 #4c3e2f, 5px 10px 0 0 #4c3e2f;
}

.menu .app-list .app-tickets .animal-running::after {
  position: absolute;
  content: "";
  -webkit-box-shadow: 10px 10px;
          box-shadow: 10px 10px;
}

.menu .app-list .app-tickets .world {
  width: 65px;
  height: 31px;
  background-color: #b6bef1;
  position: relative;
  top: 39px;
  left: 20px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu .app-list .app-animals {
  height: 100px;
  width: 100px;
  background-color: #f7ca68;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-left: 240px;
}

.menu .app-list .app-animals .butterfly {
  height: 20px;
  width: 20px;
  background-color: #f5f3e7;
  position: relative;
  border-radius: 50%;
  top: 18px;
  left: 15px;
  -webkit-box-shadow: 15px 0 0 0 #f5f3e7, 3px 10px 0 0 #f5f3e7, 12px 10px 0 0 #f5f3e7;
          box-shadow: 15px 0 0 0 #f5f3e7, 3px 10px 0 0 #f5f3e7, 12px 10px 0 0 #f5f3e7;
}

.menu .app-list .app-animals .butterfly::after {
  content: "";
  background-color: #483a35;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 5px;
  -webkit-box-shadow: 20px 0 0 0 #483a35;
          box-shadow: 20px 0 0 0 #483a35;
}

.menu .app-list .app-animals .butterfly::before {
  content: "";
  background-color: #483a35;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 8px;
  -webkit-box-shadow: 16px 0 0 0 #483a35;
          box-shadow: 16px 0 0 0 #483a35;
}

.menu .app-list .app-animals .octopus {
  height: 30px;
  width: 32px;
  background-color: #483a35;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  top: 11px;
  left: 55px;
}

.menu .app-list .app-animals .octopus::after {
  content: "";
  background-color: #f7ca68;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 8px;
  -webkit-box-shadow: 10px 0 0 0 #f7ca68;
          box-shadow: 10px 0 0 0 #f7ca68;
}

.menu .app-list .app-animals .octopus-legs {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #483a35;
  position: relative;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 2px;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  top: 8px;
  left: 52px;
}

.menu .app-list .app-animals .octopus-legs::after {
  content: "";
  background-color: #f7ca68;
  height: 10px;
  width: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 7px;
}

.menu .app-list .app-animals .octopus-legs-2 {
  display: inline-block;
  height: 15px;
  width: 10px;
  background-color: #483a35;
  position: relative;
  top: 8px;
  left: 42px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.menu .app-list .app-animals .octopus-legs-2::after {
  content: "";
  background-color: #f7ca68;
  height: 7px;
  width: 7px;
  border-top-left-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
}

.menu .app-list .app-animals .octopus-legs-3 {
  display: inline-block;
  height: 15px;
  width: 9px;
  background-color: #483a35;
  border-bottom-right-radius: 50%;
  position: relative;
  top: 8px;
  left: 38px;
}

.menu .app-list .app-animals .octopus-legs-3::after {
  content: "";
  background-color: #f7ca68;
  height: 8px;
  width: 3px;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -1px;
}

.menu .app-list .app-animals .octopus-legs-4 {
  display: inline-block;
  height: 13px;
  width: 9px;
  background-color: #483a35;
  position: relative;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 6px;
  top: 8px;
  left: 34px;
}

.menu .app-list .app-animals .octopus-legs-4::after {
  content: "";
  background-color: #f7ca68;
  height: 9px;
  width: 5px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}

.menu .app-list .app-animals .fish {
  height: 20px;
  width: 36px;
  background-color: #483a35;
  position: relative;
  left: 15px;
  border-radius: 50%;
}

.menu .app-list .app-animals .fish::after {
  content: "";
  background-color: #483a35;
  height: 8px;
  width: 7px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 2px;
  right: -5px;
}

.menu .app-list .app-animals .fish::before {
  content: "";
  background-color: #483a35;
  height: 8px;
  width: 7px;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 4px;
  top: 9px;
  right: -5px;
}

.menu .app-list .app-animals .fish .fish-eyes {
  height: 4px;
  width: 4px;
  background-color: #f7ca68;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
}

.menu .app-list .app-animals .fish .fish-fin {
  width: 7px;
  height: 6px;
  background-color: #4aa09d;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  top: 6px;
  left: 11px;
}

.menu .app-list .app-builds {
  height: 100px;
  width: 100px;
  background-color: #e59165;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
}

.menu .app-list .app-builds .recipe-book {
  height: 45px;
  width: 35px;
  background-color: #e48b74;
  border: 4px solid white;
  border-radius: 2px;
  position: relative;
  top: 16px;
  left: 15px;
}

.menu .app-list .app-builds .recipe-book .nut {
  width: 22px;
  height: 20px;
  background-color: #573c30;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: relative;
  top: 18px;
  left: 6px;
}

.menu .app-list .app-builds .recipe-book .nut::after {
  content: "";
  height: 10px;
  width: 22px;
  background-color: #f2c535;
  position: absolute;
  top: -10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 2px;
}

.menu .app-list .app-builds .recipe-book .nut::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f2c535;
  position: absolute;
  left: 8px;
  top: -12px;
}

.menu .app-list .app-builds .hammer {
  width: 10px;
  height: 25px;
  background-color: #ffca28;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  top: 1px;
  left: 58px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.menu .app-list .app-builds .hammer .hammer-head {
  width: 15px;
  height: 15px;
  background-color: #483e33;
  border-top-left-radius: 2px;
  position: relative;
  top: -15px;
  left: -2px;
}

.menu .app-list .app-builds .hammer .hammer-head::after {
  content: "";
  width: 13px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 8px solid #483e33;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 3px;
  right: 6px;
}

.menu .app-list .app-builds .hammer .hammer-head::before {
  content: "";
  width: 10px;
  height: 15px;
  background-color: #483e33;
  border-top-right-radius: 100%;
  position: absolute;
  right: -9px;
}

.menu .app-list .app-builder {
  height: 100px;
  width: 100px;
  background-color: #998158;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 120px;
}

.menu .app-list .app-clothes {
  height: 100px;
  width: 100px;
  background-color: #fe95a1;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 240px;
}

.menu .app-list .app-map {
  height: 100px;
  width: 100px;
  background-color: #82d6bc;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
}

.menu .app-list .app-id {
  height: 100px;
  width: 100px;
  background-color: #86c889;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
  margin-left: 120px;
}

.menu .app-list .app-helper {
  height: 100px;
  width: 100px;
  background-color: #fa746b;
  border-radius: 35px;
  position: absolute;
  cursor: pointer;
  margin-top: 240px;
  margin-left: 240px;
}
/*# sourceMappingURL=style.css.map */